In [227]:
import pandas as pd
from requests_html import HTMLSession

In [228]:
session = HTMLSession()

r = session.get('https://www.dsebd.org/day_end_archive.php?startDate=2024-03-10&endDate=2024-03-10&inst=All%20Instrument&archive=data')

In [255]:
r.html.find('.table.table-bordered.background-white.shares-table.fixedHeader>tbody')

In [256]:
table = r.html.find('.table.table-bordered.background-white.shares-table.fixedHeader>tbody')[0].text.split('\n')
table = table[:-37] #Excluding last few anomalies
# table[-10:]
table[:20]

['1',
 '2024-03-10',
 '1JANATAMF',
 '4.5',
 '4.7',
 '4.5',
 '4.7',
 '4.5',
 '4.6',
 '79',
 '1.082',
 '239,055',
 '2',
 '2024-03-10',
 '1STPRIMFMF',
 '34.5',
 '35.3',
 '32.8',
 '33.3',
 '34.5']

In [257]:
date = []
trading_code = []
ltp = []
high = []
low = []
openp = []
closep = []
ycp = []
trade = []
value = []
volumn = []


for i in range(1, len(table), 12):
    date.append(table[i])
    trading_code.append(table[i+1])
    ltp.append(table[i+2])
    high.append(table[i+3])
    low.append(table[i+4])
    openp.append(table[i+5])
    closep.append(table[i+6])
    ycp.append(table[i+7])
    trade.append(table[i+8])
    value.append(table[i+9])
    volumn.append(table[i+10])
    
df_list = [date, trading_code, ltp, high, low, openp, closep, ycp, trade, value, volumn]
df_column = ['Date', 'Trading Code', 'LTP', 'High', 'Low', 'OpenP', 'CloseP', 'YCP', 'Trade', 'Value', 'Volumn']

df = pd.DataFrame(df_list).T
df.columns = df_column
df

,Date,Trading Code,LTP,High,Low,OpenP,CloseP,YCP,Trade,Value,Volumn
0,2024-03-10,1JANATAMF,4.5,4.7,4.5,4.7,4.5,4.6,79,1.082,"239,055"
1,2024-03-10,1STPRIMFMF,34.5,35.3,32.8,33.3,34.5,32.8,438,19.559,"569,928"
2,2024-03-10,AAMRANET,41.4,42.2,40.6,41.5,40.6,45.9,0,0,0
3,2024-03-10,AAMRATECH,28.3,28.9,28.1,28.7,28.3,28.5,85,0.82,"28,959"
4,2024-03-10,ABB1STMF,4.7,4.8,4.6,4.6,4.6,4.7,36,1.441,"310,197"
...,...,...,...,...,...,...,...,...,...,...,...
655,2024-03-10,WMSHIPYARD,13.5,13.9,13.3,13.3,13.5,13.1,658,19.585,"1,445,646"
656,2024-03-10,YPL,23.5,24.4,23.4,24.4,23.5,24.1,250,2.057,"86,211"
657,2024-03-10,ZAHEENSPIN,8.9,9.2,8.8,9.1,8.9,8.9,152,2.398,"267,322"
658,2024-03-10,ZAHINTEX,6.8,7,6.8,7,6.8,6.8,21,0.184,"26,975"
659,2024-03-10,ZEALBANGLA,127.9,128,127.5,128,127.9,128.1,33,0.229,"1,792"

In [258]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          660 non-null    object
 1   Trading Code  660 non-null    object
 2   LTP           660 non-null    object
 3   High          660 non-null    object
 4   Low           660 non-null    object
 5   OpenP         660 non-null    object
 6   CloseP        660 non-null    object
 7   YCP           660 non-null    object
 8   Trade         660 non-null    object
 9   Value         660 non-null    object
 10  Volumn        660 non-null    object
dtypes: object(11)
memory usage: 56.8+ KB

In [259]:
columns = ['LTP', 'High', 'Low', 'OpenP', 'CloseP', 'YCP', 'Trade', 'Value', 'Volumn']

for col in columns:
    df[col] = df[col].str.replace(',', '').astype('float64')

In [260]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          660 non-null    object
 1   Trading Code  660 non-null    object
 2   LTP           660 non-null    float64
 3   High          660 non-null    float64
 4   Low           660 non-null    float64
 5   OpenP         660 non-null    float64
 6   CloseP        660 non-null    float64
 7   YCP           660 non-null    float64
 8   Trade         660 non-null    float64
 9   Value         660 non-null    float64
 10  Volumn        660 non-null    float64
dtypes: float64(9), object(2)
memory usage: 56.8+ KB

### Top Ten Gainer Considering CloseP & YCP on a Day

`%Change = ((CloseP- YCP) * 100) / YCP`

In [261]:
df['%Change'] = round(((df['CloseP']-df['YCP'])*100)/df['YCP'], 4)
df

,Date,Trading Code,LTP,High,Low,OpenP,CloseP,YCP,Trade,Value,Volumn,%Change
0,2024-03-10,1JANATAMF,4.5,4.7,4.5,4.7,4.5,4.6,79.0,1.082,239055.0,-2.1739
1,2024-03-10,1STPRIMFMF,34.5,35.3,32.8,33.3,34.5,32.8,438.0,19.559,569928.0,5.1829
2,2024-03-10,AAMRANET,41.4,42.2,40.6,41.5,40.6,45.9,0.0,0.000,0.0,-11.5468
3,2024-03-10,AAMRATECH,28.3,28.9,28.1,28.7,28.3,28.5,85.0,0.820,28959.0,-0.7018
4,2024-03-10,ABB1STMF,4.7,4.8,4.6,4.6,4.6,4.7,36.0,1.441,310197.0,-2.1277
...,...,...,...,...,...,...,...,...,...,...,...,...
655,2024-03-10,WMSHIPYARD,13.5,13.9,13.3,13.3,13.5,13.1,658.0,19.585,1445646.0,3.0534
656,2024-03-10,YPL,23.5,24.4,23.4,24.4,23.5,24.1,250.0,2.057,86211.0,-2.4896
657,2024-03-10,ZAHEENSPIN,8.9,9.2,8.8,9.1,8.9,8.9,152.0,2.398,267322.0,0.0000
658,2024-03-10,ZAHINTEX,6.8,7.0,6.8,7.0,6.8,6.8,21.0,0.184,26975.0,0.0000
659,2024-03-10,ZEALBANGLA,127.9,128.0,127.5,128.0,127.9,128.1,33.0,0.229,1792.0,-0.1561

In [262]:
df.sort_values(by=['%Change'], ascending=False, inplace=True)
df

,Date,Trading Code,LTP,High,Low,OpenP,CloseP,YCP,Trade,Value,Volumn,%Change
296,2024-03-10,PLFSL,3.3,3.3,3.3,3.3,3.3,3.00,72.0,0.375,113745.0,10.0000
164,2024-03-10,GOLDENSON,21.0,21.0,19.0,19.4,21.0,19.10,3996.0,231.266,11291394.0,9.9476
43,2024-03-10,ASIATICLAB,26.6,26.6,26.6,26.6,26.6,24.20,36.0,0.062,2317.0,9.9174
87,2024-03-10,CENTRALPHL,28.8,29.4,27.1,27.1,28.8,26.80,3823.0,154.071,5322182.0,7.4627
167,2024-03-10,GQBALLPEN,137.4,140.0,128.2,128.2,137.4,128.30,2928.0,89.128,659411.0,7.0928
...,...,...,...,...,...,...,...,...,...,...,...,...
128,2024-03-10,EBL1STMF,5.4,5.7,5.3,5.7,5.4,5.80,78.0,1.566,285621.0,-6.8966
639,2024-03-10,UNILEVERCL,2057.0,2100.1,2000.1,2100.1,2052.2,2219.00,470.0,12.989,6273.0,-7.5169
12,2024-03-10,ACTIVEFINE,15.8,17.3,15.6,17.1,15.8,17.10,931.0,27.478,1699435.0,-7.6023
2,2024-03-10,AAMRANET,41.4,42.2,40.6,41.5,40.6,45.90,0.0,0.000,0.0,-11.5468
597,2024-03-10,TB2Y0324,0.0,0.0,0.0,0.0,0.0,99.92,0.0,0.000,0.0,-100.0000

In [263]:
top_10_gainer_closeP_YCP = df.iloc[:10][['Trading Code', 'CloseP', 'High', 'Low', 'YCP', '%Change']]
top_10_gainer_closeP_YCP

    Trading Code  CloseP   High    Low    YCP  %Change
296        PLFSL     3.3    3.3    3.3    3.0  10.0000
164    GOLDENSON    21.0   21.0   19.0   19.1   9.9476
43    ASIATICLAB    26.6   26.6   26.6   24.2   9.9174
87    CENTRALPHL    28.8   29.4   27.1   26.8   7.4627
167    GQBALLPEN   137.4  140.0  128.2  128.3   7.0928
219          KTL    19.2   19.5   18.4   18.1   6.0773
276          OAL    18.2   18.6   17.7   17.2   5.8140
1     1STPRIMFMF    34.5   35.3   32.8   32.8   5.1829
210    JUTESPINN   390.6  395.0  365.0  371.5   5.1413
225      LOVELLO    49.3   49.6   47.0   46.9   5.1173

In [264]:
top_10_gainer_closeP_YCP.to_csv('Top 10 Gainer (CloseP and YCP).csv', index=False)

### Top Ten Loser Considering CloseP & YCP on a Day

In [265]:
top_10_loser_closeP_YCP = df.iloc[-10:][['Trading Code', 'CloseP', 'High', 'Low', 'YCP', '%Change']].sort_values(by='%Change')
top_10_loser_closeP_YCP

    Trading Code  CloseP    High     Low      YCP   %Change
597     TB2Y0324     0.0     0.0     0.0    99.92 -100.0000
2       AAMRANET    40.6    42.2    40.6    45.90  -11.5468
12    ACTIVEFINE    15.8    17.3    15.6    17.10   -7.6023
639   UNILEVERCL  2052.2  2100.1  2000.1  2219.00   -7.5169
128     EBL1STMF     5.4     5.7     5.3     5.80   -6.8966
275       NURANI     5.0     5.7     5.0     5.30   -5.6604
15       AFCAGRO    16.8    18.4    16.5    17.70   -5.0847
37     APSCLBOND  3796.5  3796.5  3796.5  3996.00   -4.9925
197       INTECH    28.8    31.0    28.5    30.20   -4.6358
386   SUNLIFEINS    55.7    58.6    55.3    58.30   -4.4597

In [266]:
top_10_loser_closeP_YCP.to_csv('Top 10 Loser (CloseP and YCP).csv', index=False)

### Top Ten Gainer Considering Open Price and LTP On a Day

`DEVIATION = ((Last Traded Price - Opening Price) * 100) / Opening Price`

In [267]:
df['Deviation%'] = round(((df['LTP']-df['OpenP'])*100)/df['OpenP'], 4)
df

,Date,Trading Code,LTP,High,Low,OpenP,CloseP,YCP,Trade,Value,Volumn,%Change,Deviation%
296,2024-03-10,PLFSL,3.3,3.3,3.3,3.3,3.3,3.00,72.0,0.375,113745.0,10.0000,0.0000
164,2024-03-10,GOLDENSON,21.0,21.0,19.0,19.4,21.0,19.10,3996.0,231.266,11291394.0,9.9476,8.2474
43,2024-03-10,ASIATICLAB,26.6,26.6,26.6,26.6,26.6,24.20,36.0,0.062,2317.0,9.9174,0.0000
87,2024-03-10,CENTRALPHL,28.8,29.4,27.1,27.1,28.8,26.80,3823.0,154.071,5322182.0,7.4627,6.2731
167,2024-03-10,GQBALLPEN,137.4,140.0,128.2,128.2,137.4,128.30,2928.0,89.128,659411.0,7.0928,7.1763
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,2024-03-10,EBL1STMF,5.4,5.7,5.3,5.7,5.4,5.80,78.0,1.566,285621.0,-6.8966,-5.2632
639,2024-03-10,UNILEVERCL,2057.0,2100.1,2000.1,2100.1,2052.2,2219.00,470.0,12.989,6273.0,-7.5169,-2.0523
12,2024-03-10,ACTIVEFINE,15.8,17.3,15.6,17.1,15.8,17.10,931.0,27.478,1699435.0,-7.6023,-7.6023
2,2024-03-10,AAMRANET,41.4,42.2,40.6,41.5,40.6,45.90,0.0,0.000,0.0,-11.5468,-0.2410
597,2024-03-10,TB2Y0324,0.0,0.0,0.0,0.0,0.0,99.92,0.0,0.000,0.0,-100.0000,NaN

In [268]:
df.sort_values(by=['Deviation%'], ascending=False, inplace=True)
df

,Date,Trading Code,LTP,High,Low,OpenP,CloseP,YCP,Trade,Value,Volumn,%Change,Deviation%
164,2024-03-10,GOLDENSON,21.0,21.0,19.0,19.4,21.00,19.10,3996.0,231.266,11291394.0,9.9476,8.2474
635,2024-03-10,TRUSTBANK,28.8,29.2,26.7,26.7,28.80,28.50,16.0,0.425,14746.0,1.0526,7.8652
285,2024-03-10,PARAMOUNT,61.0,61.4,56.6,56.6,61.00,58.30,825.0,24.875,414118.0,4.6312,7.7739
167,2024-03-10,GQBALLPEN,137.4,140.0,128.2,128.2,137.40,128.30,2928.0,89.128,659411.0,7.0928,7.1763
87,2024-03-10,CENTRALPHL,28.8,29.4,27.1,27.1,28.80,26.80,3823.0,154.071,5322182.0,7.4627,6.2731
...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,2024-03-10,TB10Y0724,0.0,0.0,0.0,0.0,101.03,101.06,0.0,0.000,0.0,-0.0297,NaN
570,2024-03-10,TB20Y1027,0.0,0.0,0.0,0.0,116.66,116.70,0.0,0.000,0.0,-0.0343,NaN
546,2024-03-10,TB20Y0727,0.0,0.0,0.0,0.0,122.31,122.36,0.0,0.000,0.0,-0.0409,NaN
555,2024-03-10,TB20Y0827,0.0,0.0,0.0,0.0,121.11,121.16,0.0,0.000,0.0,-0.0413,NaN
597,2024-03-10,TB2Y0324,0.0,0.0,0.0,0.0,0.00,99.92,0.0,0.000,0.0,-100.0000,NaN

In [269]:
top_10_gainer_openP_LTP = df.iloc[:10][['Trading Code', 'OpenP', 'High', 'Low', 'LTP', 'Deviation%']]
top_10_gainer_openP_LTP

    Trading Code  OpenP   High    Low    LTP  Deviation%
164    GOLDENSON   19.4   21.0   19.0   21.0      8.2474
635    TRUSTBANK   26.7   29.2   26.7   28.8      7.8652
285    PARAMOUNT   56.6   61.4   56.6   61.0      7.7739
167    GQBALLPEN  128.2  140.0  128.2  137.4      7.1763
87    CENTRALPHL   27.1   29.4   27.1   28.8      6.2731
38        ARAMIT  229.5  241.1  229.5  241.1      5.0545
225      LOVELLO   47.1   49.6   47.0   49.3      4.6709
219          KTL   18.4   19.5   18.4   19.2      4.3478
246    MIRAKHTER   44.2   47.0   44.2   45.9      3.8462
354    SEMLLECMF    7.8    8.3    7.6    8.1      3.8462

In [270]:
top_10_gainer_openP_LTP.to_csv('Top 10 Gainer (openP and LTP).csv', index=False)

### Top Ten Loser Considering Open Price and LTP On a Day

In [271]:
df.iloc[-10:][['Trading Code', 'OpenP', 'High', 'Low', 'LTP', 'Deviation%']]

    Trading Code  OpenP  High  Low  LTP  Deviation%
505    TB20Y0229    0.0   0.0  0.0  0.0         NaN
578    TB20Y1127    0.0   0.0  0.0  0.0         NaN
587    TB20Y1227    0.0   0.0  0.0  0.0         NaN
547    TB20Y0728    0.0   0.0  0.0  0.0         NaN
511    TB20Y0328    0.0   0.0  0.0  0.0         NaN
407    TB10Y0724    0.0   0.0  0.0  0.0         NaN
570    TB20Y1027    0.0   0.0  0.0  0.0         NaN
546    TB20Y0727    0.0   0.0  0.0  0.0         NaN
555    TB20Y0827    0.0   0.0  0.0  0.0         NaN
597     TB2Y0324    0.0   0.0  0.0  0.0         NaN

In [272]:
df = df[~np.isnan(df['Deviation%'])]
df

,Date,Trading Code,LTP,High,Low,OpenP,CloseP,YCP,Trade,Value,Volumn,%Change,Deviation%
164,2024-03-10,GOLDENSON,21.0,21.0,19.0,19.4,21.0,19.1,3996.0,231.266,11291394.0,9.9476,8.2474
635,2024-03-10,TRUSTBANK,28.8,29.2,26.7,26.7,28.8,28.5,16.0,0.425,14746.0,1.0526,7.8652
285,2024-03-10,PARAMOUNT,61.0,61.4,56.6,56.6,61.0,58.3,825.0,24.875,414118.0,4.6312,7.7739
167,2024-03-10,GQBALLPEN,137.4,140.0,128.2,128.2,137.4,128.3,2928.0,89.128,659411.0,7.0928,7.1763
87,2024-03-10,CENTRALPHL,28.8,29.4,27.1,27.1,28.8,26.8,3823.0,154.071,5322182.0,7.4627,6.2731
...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,2024-03-10,RUNNERAUTO,35.7,38.8,35.6,38.8,35.7,36.1,58.0,0.556,15438.0,-1.1080,-7.9897
15,2024-03-10,AFCAGRO,16.8,18.4,16.5,18.4,16.8,17.7,280.0,3.470,201964.0,-5.0847,-8.6957
125,2024-03-10,EASTLAND,26.2,28.8,25.4,28.8,25.9,27.1,189.0,3.305,125550.0,-4.4280,-9.0278
150,2024-03-10,FIRSTFIN,4.6,5.2,4.6,5.1,4.8,4.9,34.0,0.320,65745.0,-2.0408,-9.8039
275,2024-03-10,NURANI,5.0,5.7,5.0,5.7,5.0,5.3,90.0,0.543,106348.0,-5.6604,-12.2807

In [273]:
top_10_loser_openP_LTP = df.iloc[-10:][['Trading Code', 'OpenP', 'High', 'Low', 'LTP', 'Deviation%']].sort_values(by='Deviation%')
top_10_loser_openP_LTP

    Trading Code  OpenP  High   Low   LTP  Deviation%
275       NURANI    5.7   5.7   5.0   5.0    -12.2807
150     FIRSTFIN    5.1   5.2   4.6   4.6     -9.8039
125     EASTLAND   28.8  28.8  25.4  26.2     -9.0278
15       AFCAGRO   18.4  18.4  16.5  16.8     -8.6957
335   RUNNERAUTO   38.8  38.8  35.6  35.7     -7.9897
651     VAMLRBBF    6.3   6.3   5.8   5.8     -7.9365
12    ACTIVEFINE   17.1  17.3  15.6  15.8     -7.6023
196    INDEXAGRO   83.4  83.4  77.0  77.2     -7.4341
274     NTLTUBES   77.0  77.0  71.0  71.3     -7.4026
331    RINGSHINE    5.7   5.7   5.2   5.3     -7.0175

In [274]:
top_10_loser_openP_LTP.to_csv('Top 10 loser (OpenP and LTP).csv', index=False)

### Top 10 Volumn

In [276]:
top_10_volumn = df.sort_values(by='Volumn', ascending=False).iloc[:10][['Trading Code', 'YCP', 'LTP', 'Volumn']]
top_10_volumn

    Trading Code   YCP   LTP      Volumn
153    FUWANGCER  30.6  31.1  11315408.0
164    GOLDENSON  19.1  21.0  11291394.0
87    CENTRALPHL  26.8  28.8   5322182.0
271      NRBBANK  11.1  11.0   3526097.0
68     BESTHLDNG  38.0  37.2   3219853.0
276          OAL  17.2  18.2   2804032.0
14        ADVENT  31.6  31.3   2577477.0
252    MONNOFABR  27.7  29.0   2407545.0
191         IFIC  11.9  11.7   2343220.0
161          GIB   8.2   8.1   2181620.0

In [277]:
top_10_volumn.to_csv('Top 10 Volumn.csv', index=False)

### Top 10 Value

In [278]:
top_10_value = df.sort_values(by='Value', ascending=False).iloc[:10][['Trading Code', 'YCP', 'LTP', 'Value']]
top_10_value

    Trading Code    YCP    LTP    Value
153    FUWANGCER   30.6   31.1  356.495
164    GOLDENSON   19.1   21.0  231.266
21           AIL   91.2   93.7  170.740
87    CENTRALPHL   26.8   28.8  154.071
68     BESTHLDNG   38.0   37.2  121.069
280    ORIONINFU  650.1  636.4  118.815
16     AFTABAUTO   56.4   55.4  114.191
152      FORTUNE   54.6   53.2   99.086
225      LOVELLO   46.9   49.3   97.024
167    GQBALLPEN  128.3  137.4   89.128

In [279]:
top_10_value.to_csv('Top 10 Value.csv', index=False)